html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, button,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li, fieldset, form, 
input, select, textarea, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0;
padding:0; -webkit-box-sizing:border-box;
box-sizing:border-box}

html {-webkit-text-size-adjust:100%; height:100%;
 font-size:62.5%; line-height:1.4;
 scroll-behavior:smooth}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
 display:block}

a {vertical-align:baseline; color:#03dac5;
 background-color: transparent; font-weight:700;
 text-decoration: none}

a:hover {text-decoration:underline}

abbr[title], dfn[title] {cursor:help;
 border-bottom:none; text-decoration:underline;
 text-decoration: underline dotted}

b, strong {font-weight: bolder}

blockquote, q {quotes:none}

blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none}

code, kbd, samp {font-size:1em;
 font-family: monospace, monospace}

del {text-decoration:line-through}

fieldset {padding: 0.35em 0.75em 0.625em}

h1 {font-size:2.5rem; line-height:1.35;
 margin-bottom:1rem}

hr {display:block; box-sizing: content-box;
 height:1px; overflow:visible; border:0;
 margin:2rem 0; padding:0;
 background-color:#757575}

i::before {vertical-align:-4%}

img {border-style:none;max-width:100%}

input, select {vertical-align:middle}

ins {background-color:#ff9; color:#000;
 text-decoration:none}

legend {color: inherit; display: table;
 max-width: 100%; white-space: normal}

mark {background-color:#ff9; color:#000;
 font-style:italic; font-weight:bold}

ol li, ul li {margin-left:2rem}

p {margin-bottom:1.4rem}

pre {font-family: monospace, monospace;
 font-size: 1em}

progress {vertical-align: baseline}

small {font-size: 80%}

sub, sup {font-size: 75%; line-height: 0;
 position: relative; vertical-align: baseline}

sub {bottom: -0.25em}

sup {top: -0.5em}

summary {display:list-item}

table {border-collapse:collapse;
 border-spacing:0}

template {display: none}

textarea {overflow: auto}

button, [type="button"], [type="reset"],
[type="submit"] { -webkit-appearance:button}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
 border-style: none; padding: 0}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
 outline: 1px dotted ButtonText}

[type="checkbox"], [type="radio"] {
box-sizing: border-box; padding: 0}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
 height:auto}

[type="search"] { -webkit-appearance: textfield;
 outline-offset: -2px}

[type="search"]::-webkit-search-decoration {
 -webkit-appearance:none}

::-webkit-file-upload-button {font:inherit;
 -webkit-appearance:button}

[hidden] {display: none}

body {font-family:'Poppins', sans-serif;
 height:100%; font-size:1.5rem;}


/* == Utility Classes == */

.btn{text-decoration:none;display:inline-block;
outline:0;border:0; border-radius:4px;
font-family:inherit; font-size:inherit;
font-weight:500; letter-spacing:0.07rem;
padding:0.9rem 1.8rem;
margin:1rem 1rem 1rem 0;
background: #b71c1c; color:#fafafa;}

.btn:hover {text-decoration:none;
 background:#0d47a1}

.carousel {overflow: scroll; scrollbar-width: none;
 -ms-overflow-style: none}

.carousel::-webkit-scrollbar {width: 0; height: 0}







.shadow, #header, .btn:hover, .service-card-btn:hover, .carousel720 img{
/*
box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) */ 
}


.shadow-md, .btn, .service-card-btn{ /*
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2); */
}


 .shake{
animation: shake 3s  infinite;
transform: translate3d(0, 0, 0);
backface-visibility: hidden}

@keyframes shake{
2%, 18% { transform: translate3d(-1px, 0, 0) }
4%, 16% { transform: translate3d(2px, 0, 0) }
6%, 10%, 14% { transform: translate3d(-4px, 0, 0) }
8%, 12% { transform: translate3d(4px, 0, 0) }
}




.show-anchor:target {position:relative;
 display:block; visibility:hidden; top:-5rem}


.slbContentEl, .slbContent {
background:transparent !important}


.slb-box {padding:1rem;max-width:800px;
border-radius:0.5rem; background:#212121;
border:0.05rem solid #757575
}

.slb-box .btn {width:100%}

.t-center {text-align:center}



/* == Flexbox Classes == */

.flex, .section {display:flex}

.flex-wrap, .section{flex-wrap:wrap}

.flex-no-wrap {flex-wrap:no-wrap}

.items-center  {align-items: center}

.items-stretch {align-items: stretch}

.justify-around {justify-content: space-around}

.justify-between {justify-content:space-between}

.justify-center {justify-content: center}
.justify-end {justify-content: flex-end}

.justify-evenly {
 justify-content:space-evenly}


/* ===== 12 COLUMN GRID ===== */

.section {clear:both; margin:0 0.5rem}

.group:before, .group:after{content:"";
 display:table}
.group:after{clear:both}
.group{zoom:1}

.col{display:block;float:left;
 margin:1% 0 1% 1.6%}
.col:first-child{margin-left:0}

.s12{width:100%}
.s11{width:91.53%}
.s10{width:83.06%}
.s9{width:74.6%}
.s8{width:66.13%}
.s7{width:57.66%}
.s6{width:49.2%}
.s5{width:40.73%}
.s4{width:32.26%}
.s3{width:23.8%}
.s2{width:15.33%}
.s1{width:6.86%}


.s1, .s2, .s3, .s4, .s5, .s6,
.s7, .s8, .s9, .s10, .s11, .s12 { padding:1rem;
border-radius:0.5rem;
border:0.05rem solid #222;
position:relative;}



/* == Page Wrapper == */

#wrapper{position:relative; overflow:hidden;
 margin:auto; max-width:1024px;
 min-height:100%;
 -webkit-tap-highlight-color:rgba(0,0,0,0)}


/* == Header and Navigation == */

#header {position:fixed; top:0; font-weight:700;
 width:100%; max-width:1024px; height:5.6rem;
 z-index:20; background-color:#212121;
border-bottom:0.05rem solid #757575;
 }

#header a {text-decoration:none}

#logo-icon {margin-left:0.5rem;
margin-right:1rem;height:4rem;
 border-radius:0.5rem; background-color:#424242;}

#logo-text {font-size:2.2rem; line-height:1.2;
 color:#fafafa;}

#logo-text-2 {font-size:1.4rem; color:#fafafa}

#logo-whatsapp {margin:0.8rem;
padding:0.5rem 1rem; background:#424242;
border:0.02rem solid #ffffff; border-radius:0.7rem;
line-height:1;
font-size:2.7rem}

#logo-whatsapp i::before {color:#fff}


#list-nav {list-style:none; float:left}
#list-nav li {display:inline; margin:0}

#list-nav li a {line-height:5.6rem; color:#eeeeee;
 display:inline-block; padding:0 0.6rem}

#list-nav li a:hover {background:#ad1457}

#nav-btn{cursor:pointer; position:fixed;
right:0; top:0; opacity:1;
 width:60px; height:56px; z-index:25;
border-radius:0 0 0 25%;
 display:none}

#nav-btn span{position:absolute;display:block;
width:34px;height:4px;left:50%;top:50%;
background:#ffffff;
transform:translate(-50%,-50%);
transition:0.2s; transition-delay:0s;
border-radius:2px}

#nav-btn span::before{content:"";
position:absolute;display:block;
width:100%;height:100%;top:-11px;
background:#ffffff;
border-radius:2px;
transition-property:top, transform;
transition-delay:0.2s, 0s;
transition-duration:0.2s, 0.2s}

#nav-btn span::after{content:"";
position:absolute;display:block;
width:100%;height:100%;top:11px;
background:#ffffff;
border-radius:2px;
transition-property:top, transform;
transition-delay:0.2s, 0s;
transition-duration:0.2s, 0.2s}

#nav-toggle:checked ~ #nav-btn span::before{
top:0; transform:rotate(45deg);
transition-delay:0s, 0.2s}

#nav-toggle:checked ~ #nav-btn span::after{
top:0; transform:rotate(-45deg);
transition-delay:0s, 0.2s}

#nav-toggle:checked ~ #nav-btn span{
background: rgba(0,0,0,0)}

#nav-toggle{visibility:hidden;z-index:-9;
display: none}



































#guides .guideEl {position:relative;
padding:0.5rem;
border:0.05rem solid #e0e0e0;
}










input[type="text"], input[type="email"], input[type="password"], textarea{
box-sizing:border-box; outline:0;
width:100%;resize:vertical;border-radius:4px;
border: 1px solid #222222; padding:0.5rem;
font-size:inherit;font-family:inherit;
background:#EDF2F7; }


input:focus, textarea:focus {
border-color:#0d47a1;border-width:2px}

.form-input {margin:-2px 0 10px 0; }

.form-textarea {margin:-1px 0;height:100px}




form .btn{width:100%}


input, button, select, textarea{line-height:inherit;
font-family:inherit; font-size:inherit;}

.consent{font-size:1.5rem;display:block}

input[type="radio"], input[type="checkbox"] {
display:inline-block;min-height:2rem;
min-width:2rem;vertical-align:-20%}


input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, textarea:-webkit-autofill, textarea:-webkit-autofill:hover, textarea:-webkit-autofill:focus, select:-webkit-autofill, select:-webkit-autofill:hover, select:-webkit-autofill:focus{-webkit-box-shadow: 0 0 0px 1000px #EDF2F7 inset}







/* == Footer == */
#footer {position:relative; bottom:0;
text-align:center;
background:#212121;
margin:0.5rem 0.5rem;
padding:1rem;
border-radius:0.5rem;
}


/* == Disable Random Selection == */

img, h1, h2, h3, h4, p, button, label, .btn, .btn2, .btn-floating {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none; -moz-user-select: none;
-ms-user-select: none; user-select: none}


/* == Media Query 768px == */
@media only screen and (max-width: 768px) {




}


/* == Media Query 560px == */
@media only screen and (max-width: 560px) {

.col {margin: 1% 0 1% 0%}

.s12, .s11, .s10, .s9, .s8, .s7, .s6, 
.s5, .s4, .s3, .s2, .s1 {width:100%}






#nav-btn{display:block; }



#nav{position:fixed;top:5.6rem; right:-100%;
width:70%;background:fafafa;
transition:0.5s; border-radius:5px 0 5px 5px;
overflow: hidden;




box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}



#list-nav{width:100%}



#list-nav .nav-link{width:100%; text-align:center;
background:#fff; color:#111;
border-bottom:1px solid #ccc;
padding:0}


#list-nav .nav-link:hover {background:#eee}
#nav-toggle:checked ~ #nav{right:0}

}
